body {
  background-image: url('assets/stars_bg.gif');
  font-family: "Comic Sans MS", "Times New Roman", serif;
  color: #FF00FF;
  cursor: url('assets/rocket.cur'), auto;
}

.container {
  border: 5px groove #C0C0C0;
  background-color: #000080;
  box-shadow: 10px 10px 0 #008080;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}